<!-- Reference Company -->
<div class="row" style="margin-top: 3%; margin-bottom: 3%;">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <h2> Reference Companies</h2>
  </div>
  <div class="col-md-4 float-right" *ngIf="medianRate">
    <h2>  Median Rate: {{medianRate.data | number:'1.2-4'}}</h2>
  </div>
  <div class="col-md-2"></div>
</div>
<button class="btn btn-success" (click)="update()">
    <i class="fa fa-spinner"></i>
  </button>

<div class="row" style="margin-top: 3%; margin-bottom: 3%;">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="refCompanies" *ngIf="refCompaniesList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Name</th>
            <th class="h">Rate</th>
            <th class="h">Last Updated at:</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="refCompanies" (dblclick)="editRefCompany(refCompany)" *ngFor="let refCompany of refCompaniesList">
            <ng-container *ngIf="!editRefcompanies.includes(refCompany); else editRC">
              <td>{{refCompany.name}}</td>
              <td>{{refCompany.rate}}</td>
              <td>{{refCompany.date | date:'medium'}}</td>
            </ng-container>

            <ng-template #editRC>
              <td>
                <input type="text" name="name" id="name" (keypress)="submitRefCompany($event, refCompany); median()" [(ngModel)]="refCompany.name"
                  placeholder="name" class="form-control">
              </td>
              <td>
                <input type="number" name="rate" id="rate" (keypress)="submitRefCompany($event, refCompany); median()" [(ngModel)]="refCompany.rate"
                  placeholder="rate" class="form-control">
              </td>
              <td>
                {{refCompany.date}}
              </td>
            </ng-template>


            <td>
              <button class="btn btn-primary" (click)="editRefCompany(refCompany); median()">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteRefCompany(refCompany); median()">
                <i class="fa fa-trash"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row" style="margin-top: 3%; margin-bottom: 3%;">

        <div class="col-md-5">
          <input type="text" name="name" id="name" [(ngModel)]="newRefCompany.name" placeholder="name" class="form-control">
        </div>
        <div class="col-md-5">
          <input type="number" name="rate" id="rate" [(ngModel)]="newRefCompany.rate" placeholder="rate" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="createRefCompany(); median()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
</div>

<hr>


<!-- Company -->
<div class="row" style="margin-top: 3%; margin-bottom: 3%;">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2> Companies</h2>
  </div>
  <div class="col-md-2"></div>
</div>



<div class="row" style="margin-bottom: 4%;">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="companies" *ngIf="companiesList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Name</th>
            <th class="h">Rate</th>
            <th class="h">Last Updated at:</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="companies" (dblclick)="editCompany(company)" *ngFor="let company of companiesList">
            <ng-container *ngIf="!editcompanies.includes(company); else editC">
              <td>{{company.name}}</td>
              <td>{{company.currency.mxn}}</td>
              <td>{{company.date | date:'medium'}}</td>
            </ng-container>

            <ng-template #editC>
              <td>
                <input type="text" name="name" id="name" (keypress)="submitCompany($event, company)" [(ngModel)]="company.name" placeholder="name"
                  class="form-control">
              </td>
              <td>
                <input type="number" name="currency" id="currency" (keypress)="submitCompany($event, company)" [(ngModel)]="company.currency" placeholder="rate"
                  class="form-control">
              </td>
              <td>{{company.date | date:'medium'}}</td>
            </ng-template>


            <td>
              <button class="btn btn-primary" (click)="editCompany(company)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteCompany(company)">
                <i class="fa fa-trash"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="name" id="name" [(ngModel)]="newCompany.name" placeholder="name" class="form-control">
        </div>
        <div class="col-md-5">
          <input type="number" name="mxn" id="mxn" [(ngModel)]="newCompany.currency.mxn" placeholder="rate" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="createCompany()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
</div>