<!--<i class="material-icons">face</i>-->

<form class="text-center" id="FXform">
  <div class="form-group col-3 no-border input-lg" style="margin:auto; margin-bottom:2%">
    <input type="number" class="form-control no-border" [(ngModel)]="userInputs.amount" min="0.01" name="amount" placeholder="Amount"
      style="font-size: 35px; font-style: bold;" required>
      <small id="emailHelp" class="form-text boxLabel"  *ngIf= "userInputs.amount != 0 && !userInputs.amount">&#10003; Amount</small>
  </div>
  <div class="form-group">
    <select class="custom-select  no-border" id="inlineFormCustomSelect" [(ngModel)]="soureOfFunding" name="soureOfFunding">
      <option *ngFor="let i of sourceItems" [value]="i">{{i}}</option>
    </select>
    <small id="emailHelp" class="form-text boxLabel"  *ngIf= "soureOfFunding != 'Source of funding...'">&#10003; Source of funding</small>
  </div>
  <div class="form-group">
    <select class="custom-select  no-border" id="inlineFormCustomSelect" [(ngModel)]="deliveryMethod" name="deliveryMethod">
      <option *ngFor="let i of deliveryItems" [value]="i">{{i}}</option>
    </select>
    <small id="emailHelp" class="form-text boxLabel"  *ngIf= "deliveryMethod != 'Delivery Method...'">&#10003; Delivery Method</small>
  </div>
  <div class="form-group">
    <select class="custom-select no-border" id="inlineFormCustomSelect" [(ngModel)]="deliveryTime" name="deliveryTime">
      <option *ngFor="let i of timeItems" [value]="i">{{i}}</option>
    </select>
    <small id="emailHelp" class="form-text boxLabel" *ngIf= "deliveryTime != 'Delivery Time...'">&#10003; Delivery Time</small>
  </div>
  <div class="form-group">
    <select class="custom-select no-border" id="inlineFormCustomSelect" [(ngModel)]="currency" name="currency">
      <option *ngFor="let i of currencyItems" [value]="i">{{i}}</option>
    </select>
    <small id="emailHelp" class="form-text boxLabel" *ngIf= "currency != 'Currency...'">&#10003; Currency</small>
  </div>

  <button type="submit" class="btn btn-primary" (click)="calculateRates()"
  [disabled]="userInputs.amount == 0 || soureOfFunding == 'Source of funding...' || deliveryMethod == 'Delivery Method...' || deliveryTime == 'Delivery Time...' || currency == 'Currency...' ">Submit</button>
  <button type="reset" class="btn btn-default" value="Reset">Reset</button>
</form>

<div class="row" style="margin-top: 3%;">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="companies" *ngIf="FXList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Name</th>
            <th class="h">Send amount</th>
            <th class="h">Total cost</th>
            <th class="h">Total receive amount</th>
            <th class="h">Fees</th>
            <th class="h">True cost</th>
            <th class="h">True cost Percentage</th>
          </tr>
        </thead>
        <tbody>
          <tr class="companies" *ngFor="let company of FXList">
            <ng-container>
              <td>{{company.data.name}}</td>
              <td>{{company.data.sendAmount | number:'1.2-2'}}</td>
              <td>{{company.data.youPay | number:'1.2-2'}}</td>
              <td>{{company.data.theyGet | number:'1.2-2'}}</td>
              <td>{{company.data.fee | number:'1.2-2'}}</td>
              <td>{{company.data.trueCost | number:'1.2-2'}}</td>
              <td>{{company.data.trueCostPercentage | number:'1.2-4'}}% </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-2">

  </div>
</div>





